.button_conteiner {
    width: 125;
    height: 125px;
    margin: 0% auto 0px auto;
    
}

.button{
    width: 137px;
    height: 137.5px;
    margin: 0% auto 0px auto;   
}

.play {
    background: url('../assets/play-button/play.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mute {
    background: url('../assets/play-button/Play-pause.svg');
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    

}

