body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.conteiner {
    width: 90%;
    margin: 0 auto;
}


.blur__background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
